body {
	background-color:white;
}
.wrapper{
	background-color: white;
	width: 100%;
	height: 50px;
	float: left;
}
.logo{
	background-color: white;
	width: 900px;
	height: 200px;
	text-align: center;
	float: left;
}
.menu{
	transform-box: ;
	background-color: yellow;
	width: 100%;
	height: 50px;
	float: left;
	margin-left: 20px;
	text-align: center;
	mask-border-slice: initial;
}
.display{
	width: 100% ;
	height: 620px;
	float: left;
	margin-left: 5 px;
	text-align: center;
}
h1{
	text-align: center;
	margin-top: 200px;
}
.footer{
	background-color: green;
	float: left;
	margin-top: 5px ;
	width: 100%;
	height: 50px;
	text-align: center;
}
ul{
	display: inline-block;
	padding:30;
	list-style-type: none;
	margin: 0;
}
li{
	display: inline;
	margin-right: 100px;
}
li a{
	display: inline-block;
}